<section class="page-width banner-with-text" >

    {% style %}

        .banner-with-text {
            margin-top: -5rem;
        }

        .text-wrapper {
            display: flex;
            margin-top: 3rem;
        }

        @media only screen and (max-width: 768px){
            .text-wrapper {
                flex-wrap: wrap;
            }

            .rm-button {
                width: 100%;
                text-align: center;
            }
        }

        @media only screen and (min-width: 768px){

            .banner-title {
                width: 40%;
                padding: 0 14%;
            }
    
            
        }
        
        .rm-button {
            display: inline-block;
            text-decoration: none;
            color: black;
            padding: 1.5rem 9rem;
            background: #BED3E4;
            font-weight: bold;
        }



        .paragraph-container {
            max-width: 55rem;
        }
    {% endstyle %}

            {% comment %}
                Section begins
            {% endcomment %}

    {% if section.settings.banner != blank %}
        <img
        src="{{ section.settings.banner | image_url }}"
        role="presentation"
        height="auto"
        width="100%"
        loading="lazy"
        style="display: block;"
    >
    {% endif %}

    <div class="text-wrapper">
        {% if section.settings.title != blank %}
            <h3 class="banner-title" >{{- section.settings.title -}}</h3>
        {% endif %}

        {% if section.settings.paragraph != blank %}
            <div class="paragraph-container">
                <p>{{- section.settings.paragraph -}}</p>

                {% if section.settings.url != blank %}
                    <a  class="rm-button" href="{{- section.settings.url -}}" target="_blank">READ MORE</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <hr class="hr">


</section>


{% schema %}
    {
        "name": "Banner with text",
        "settings": [
            {
                "type": "image_picker",
                "label": "Banner Image",
                "id": "banner"
            },
            {
                "type": "text",
                "label": "Title",
                "default": "Learn More About Us",
                "id": "title"
            },
            {
                "type": "richtext",
                "label": "Paragraph",
                "default": "<p>This is some placeholder text to make up for a paragraph</p>",
                "id": "paragraph"
            },
            {
                "type": "url",
                "label": "Related URL",
                "id": "url"
            }
        ],
        "presets": [
            {
                "name": "Banner with text",
                "category": "section",
                "settings": {}
            }
        ]
    }
{% endschema %}
