/* General */

div[role="status"].no-js-hidden .price .price__container .price__regular span.price-item {
    font-weight: bold;
    font-size: xx-large;
}

/* Top Icons */

.top-icons-container {
    display: flex;
    justify-content: space-around;
}

.top-icon {
    display: inline-block;
    margin-right: 1rem
}

.top-icon-text {
    color: #8A8A8A;
    display: inline-block;
}

/* Location mini title */

.location {
    margin: 3rem 0;
}

.main-location {
    text-decoration: underline;
    font-weight: bold;
}

/* Review stars */

svg.loox-icon {
    color: black !important; 
}

/* Images layout */
@media only screen and (min-width: 600px){
    .custom-image-thumbnails-container{
        width: 15%;
    }
    
    .custom-selected-image {
        width: 85%;
        float: right;
    }
    
    .custom-image-thumbnails {
        width: 100%;
        flex-direction: column;
    }
    
    .custom-image-thumbnail {
        width: 100% !important;
    }
}

/* Buy button */

.product-form__buttons {
    max-width: 100%;
}

/* Icons with text */

.icon-with-text-container {
    width: 100%;
}

.hr {
    border: 1px solid black;
}

.icon-with-text img {
    height: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .custom-icon-with-text {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 510px){
    .icon-with-text__item {
        width: 10rem !important;
    }

    .icon-with-text__item span {
        font-size: 3vw !important;
    }

    .special-margin {
        margin-top: 3rem;
    }
}

/* Variant Picker */

.variant-option {
    border-radius: 0 !important;
    background-color: #F8F8F8 !important;
    color: black !important;
    border: none !important;
    width: 33%;
}

/* .variant-option:hover {
    border: 1px solid black !important;
} */
input[type="radio"]:checked + label {
    border: 1px solid black !important;
  }


fieldset.product-form__input {
    max-width: 100%;
}

/* Description */

.description-container {
    width: 100%;
}

.description-header {
    margin-top: 0;
}

.description-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-container {
    width: 60%;
    height: 40rem;
}

@media only screen and (max-width: 720px) {
    .video-container {
        width: 100%;
        height: 19rem;
        margin-top: 3rem;
    }
}

/* Complementary products */

.share-button {
    float: right;
    position: relative;
    bottom: 6rem;
}

.complementary-list {
    display: flex !important;
    flex-direction: row !important;
}

.complementary-products__container .card--horizontal .card__inner {
    display: none;
}

.custom-complement-container:hover {
    border: 1px solid black;
}

.custom-complement-container {
    padding: 2rem;
    background-color: #f8f8f8;
}

.card-information .price {
    text-align: center !important;
}

.quick-add-btn {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Related products */

@media only screen and (max-width: 600px){
    .custom-related-li {
        max-width: 100% !important;
        width: 100% !important;
    }
}
