/* General */

/* Review stars */

svg.loox-icon {
    color: black !important; 
}

/* Images layout */

.custom-image-thumbnails-container{
    width: 10%;
}

.custom-selected-image {
    width: 90%;
    float: right;
}

.custom-image-thumbnails {
    width: 100%;
    flex-direction: column;
}

.custom-image-thumbnail {
    width: 100% !important;
}


/* Icons with text */

.icon-with-text-container {
    width: 100%;
}

.hr {
    border: 1px solid black;
}

.icon-with-text img {
    height: auto;
    width: 50%;
}

/* Description */

.description-container {
    width: 100%;
}

.description-header {
    margin-top: 0;
}

.description-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video-container {
    width: 60%;
}
