/* General */

.special-font {
    font-family: 'Iowan Old Style' !important;
}

h2.h3 {
    font-size: inherit;
    font-weight: bold;
}

div[role="status"].no-js-hidden .price .price__container .price__regular span.price-item {
    font-weight: bold;
    font-size: xx-large;
}

/* Top Icons */

.top-icons-container {
    display: flex;
    justify-content: space-around;
}

.slider-wrapper {
    display: none;
}

/* Carousel */

@media only screen and (max-width: 600px) {
    .top-icons-container {
        display: none;
    }

    .slider-wrapper {
        display: block;
        margin: 1rem;
        position: relative;
        overflow: hidden;
    }

    .slides-container {
        height: auto;
        width: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    .slide {
        width: 100%;
        height: 100%;
        flex: 1 0 100%;
    }

    .slide-arrow {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 4rem;
        background-color: white;
        border: none;
        width: 2rem;
        font-size: 3rem;
        padding: 0;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 100ms;
      }

      .slide-arrow:hover,
      .slide-arrow:focus {
        opacity: 1;
      }

      .slide-arrow-prev {
        left: 0;
        padding-left: 0.25rem;
        border-radius: 0 2rem 2rem 0;
      }
      
      .slide-arrow-next {
        right: 0;
        padding-left: 0.75rem;
        border-radius: 2rem 0 0 2rem;
      }

      .top-icon-item {
        margin: 0 auto;
        width: fit-content;
      }
}

.top-icon {
    display: inline-block;
    margin-right: 1rem
}

.top-icon-text {
    color: #8A8A8A;
    display: inline-block;
}

/* Location mini title */

.location {
    margin: 3rem 0;
}

.main-location {
    text-decoration: underline;
    font-weight: bold;
}

/* Review stars */

svg.loox-icon {
    color: black !important; 
}

/* Images layout */
@media only screen and (min-width: 600px){
    .custom-image-thumbnails-container{
        width: 15%;
    }
    
    .custom-selected-image {
        width: 85%;
        float: right;
    }
    
    .custom-image-thumbnails {
        width: 100%;
        flex-direction: column;
    }
    
    .custom-image-thumbnail {
        width: 100% !important;
    }

    .product--thumbnail_slider .slider-mobile-gutter .slider-button {
        display: none !important;
    }
}

/* Buy button */

.product-form__buttons {
    max-width: 100%;
}

button.product-form__submit span {
    color: black;
}

/* Icons with text */

.icon-with-text-container {
    width: 100%;
}

.hr {
    border: 1px solid black;
}

.icon-with-text img {
    height: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .custom-icon-with-text {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 510px){
    .icon-with-text__item {
        width: 10rem !important;
    }

    .icon-with-text__item span {
        font-size: 3vw !important;
    }

    .special-margin {
        margin-top: 3rem;
    }
}

/* Variant Picker */

.variant-option {
    border-radius: 0 !important;
    background-color: #F8F8F8 !important;
    color: black !important;
    border: none !important;
    width: 33%;
}

/* .variant-option:hover {
    border: 1px solid black !important;
} */
input[type="radio"]:checked + label {
    border: 1px solid black !important;
  }


fieldset.product-form__input {
    max-width: 100%;
    display: flex;
}

/* Description */

.description-container {
    width: 100%;
}

.description-header {
    margin-top: 0;
}

.description-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-container {
    width: 53%;
    height: 40rem;
}

.product__description {
    width: 44%;
}

.video-wrapper {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 720px) {
    .video-container {
        width: 100%;
        height: 19rem;
        margin-top: 3rem;
    }

    .product__description {
        width: 100%;
    }
}

/* Complementary products */

.share-button {
    float: right;
    position: relative;
    bottom: 6rem;
}

.share-button button {
    color: black;
}

.complementary-list {
    display: flex !important;
    flex-direction: row !important;
}

.complementary-products__container .card--horizontal .card__inner {
    display: none;
}

.custom-complement-container:hover {
    border: 1px solid black;
}

.custom-complement-container {
    padding: 2rem;
    background-color: #f8f8f8;
}

.card-information .price {
    text-align: center !important;
}

.quick-add-btn {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Related products */

@media only screen and (max-width: 600px){
    .custom-related-li {
        max-width: 100% !important;
        width: 100% !important;
    }
}
